$primary: #315878;
$secondary: #59a1a4;
$tertiary: #78c89d;
$quaternary: #9be9a1;

.background {
  background-image: url(./assets/background.png);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.template {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: 80%;

  .room-tab {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;

    div {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-bottom: 50px;
      cursor: pointer;
    }
  }

  .view-tabs {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;

    .view-tab {
      width: 200px;
      height: 41px;
      border-radius: 30px 30px 0 0;
      text-align: center;
      padding-top: 20px;
      font-size: 20px;
      cursor: pointer;
      transition: 0.2s ease;
    }
  }
}

.room-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 100px);
  height: calc(100% - 60px);
  background-color: #fff9;
  border-radius: 0 25px 25px 25px;
  backdrop-filter: blur(10px);

  .center-container {
    display: flex;
    height: 100%;
    div {
      margin: auto;
    }
  }

  .ReactChart {
    svg {
      overflow: visible !important;
    }
  }

  .time {
    position: absolute;
    top: 5%;
    right: 5%;
  }
}

.Welcome {
  background-image: url(./assets/background.png);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: 1s ease;
  color: #22577a;

  .welcome-text {
    font-size: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-image: url("./assets/welcome.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    transform: translate(-50%, -50%);
  }

  .privacy {
    position: fixed;
    bottom: 50px;
    left: 50px;
    font-size: 30px;
  }

  .social-links {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 30px;
  }

  .welcome-logo {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 00);
    background-image: url("./assets/zona-long.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
  }
}

.hidden {
  opacity: 0;
}

.no-display {
  display: none;
}

.Live {
  position: relative;
  width: 100%;
  height: 100%;

  .render {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
    width: 70%;
    height: 60%;

    background-repeat: no-repeat;
    background-size: contain;
  }

  .room1 {
    background-image: url("./assets/room1.png");
  }

  .room2 {
    background-image: url("./assets/room2.png");
  }

  .live-count-container {
    position: absolute;
    bottom: 50%;
    left: 100px;
    transform: translate(0, 50%);
    text-align: center;
    display: flex;
    flex-direction: column;

    .live-count-number {
      font-size: 50px;
      font-weight: bold;
      color: #22577a;
      display: flex;
      align-items: center;

      .live-count-text {
        font-size: 20px;
        color: black;
        font-weight: normal;
        padding-left: 10px;
      }
    }

    .name {
      font-size: 100px;
      font-weight: bold;
      color: #22577a;
    }
  }
}

.no-active {
  background-color: #6aa59c;
  color: #ffffff;
}

.no-active:hover {
  background-color: #71b3a9;
  color: white;
}

.active {
  background-color: #fff9;
  color: #6aa59c;
  transition: 0.2s ease;
}

.active:hover {
  background-color: #7ec5ba;
  color: white;
}

.privacy {
  position: fixed;
  bottom: 50px;
  left: 45%;
  transform: translate(-50%, 0);
  text-decoration: solid underline;
  cursor: pointer;
}

.logo {
  position: fixed;
  top: 50px;
  right: 100px;
  width: 200px;
  height: 100px;
  background-image: url("./assets/zona-long.png");
  background-size: contain;
  background-repeat: no-repeat;
}
