.background {
  background-image: url(./assets/background.png);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.Welcome {
  background-image: url(./assets/background.png);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: 2s ease;
}

.hidden {
  opacity: 0;
}

.welcome-text {
  font-size: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

.privacy {
  position: fixed;
  bottom: 50px;
  left: 50px;
  font-size: 30px;
}

.social-links {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 30px;
}

.welcome-logo {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 00);
  background-image: url(./assets/long-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
}

.template {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: 80%;
  /* background-color: #fff; */
}

.room-tab {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
}

.room-tab > div {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 50px;
}

.room-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 100px);
  height: calc(100% - 60px);
  background-color: #fff5;
  border-radius: 0 50px 50px 50px;
  backdrop-filter: blur(10px);
}

.tabs {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
}

.tabs > div {
  width: 200px;
  height: 41px;
  border-radius: 30px 30px 0 0;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}

div > .active {
  background-color: #35916d55;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
}

div > .active:hover {
  background-color: #44be8f55;
}

div > .no-active {
  background-color: #fff9;
  color: #339670;
  cursor: pointer;
  transition: 0.2s ease;
}

div > .no-active:hover {
  background-color: rgba(193, 255, 206, 0.6);
}
